@tailwind base;
@tailwind utilities;

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #e3e4e8;
  --fg: #17181c;
  --c1: #f42f25;
  --c2: #f49725;
  --c3: #255ff4;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#mapa {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
}

#clima {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  padding: 10px;
  z-index: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.a,
.b,
.c {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transform-origin: 50% 100%;
}

.message {
  text-align: center;
  margin-top: 100px;
}

.a,
.b,
.c {
  animation: bounce2 2s linear infinite;
}

.container {
  position: fixed; /* Use fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.807); /* Black with 50% opacity */
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a {
  background: var(--c1);
}
.b {
  background: var(--c2);
  animation-delay: 0.1s;
}
.c {
  background: var(--c3);
  animation-delay: 0.2s;
}

@keyframes bounce2 {
  from,
  to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in;
  }
  9%,
  29%,
  49%,
  69% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: linear;
  }
  10% {
    transform: translateY(5em) scale(1.5, 0.5);
    animation-timing-function: linear;
  }
  11%,
  31%,
  51%,
  71%,
  91% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-out;
  }
  20% {
    transform: translateY(2.5em) scale(1, 1);
    animation-timing-function: ease-in;
  }
  30% {
    transform: translateY(5em) scale(1.25, 0.75);
    animation-timing-function: linear;
  }
  40% {
    transform: translateY(3.75em) scale(1, 1);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(5em) scale(1.125, 0.875);
    animation-timing-function: linear;
  }
  60% {
    transform: translateY(4.375em) scale(1, 1);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(5em) scale(1.0625, 0.9375);
    animation-timing-function: linear;
  }
  85% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(5em) scale(1.875, 0.125);
    animation-timing-function: ease-in-out;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
